@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

#head {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.atlas-logo {
    height: 35px;
}

.header-username {
    color: #FFF;
}
#header-item {
    display: flex;
}

/* header-menu */
    .header-btn {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
    }

    .header-btn span {
        position: absolute;
        display: block;
        background: #fff;
        height: 10%;
        width: 50%;
        transition: all 0.5s;
        top: 50%;
    }
        /* .header-btn span:nth-child(1) */
    .header-btn1 {
        transform: rotate(-45deg) translateX(-6px);
    }

    .header-btn2 {
        transform: rotate(45deg) translateX(6px);
    }

    .header-btn3 {
        transform: rotate(45deg) translateX(-6px);
    }

    .header-btn4 {
        transform: rotate(-45deg) translateX(6px);
    }

    #header-item img {
        height: 40px;
    }

    ul {
        display: block;
        transform: translateY(-100px);
        transition: all 0.5s;
    }

    .active {
        transform: translateY(0);
        transition: all 0.5s;
    }
/* //header-menu */

/* 共通 */
.border{
    width: 100%;
    border: 3px solid #E0E0E0;
    margin: 20px 0;
}
.underLine {
    border: solid 1px #E0E0E0;
}


a {
    background: #186AC9;
    text-decoration: none;
    color: #fff;
    font-size: 8px;
    padding: 8px 12px;
    border-radius: 6px;
    right: 0;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

#confirm {
    padding: 15px;
}

.side-follow {
    display: flex;
    position: relative;
}

.side-follow p {
    margin-right: 10px;
}

.side-link-btn {
    padding: 0;
    margin-left: 50px;
}


/* //main content */

.user-icon img{


}
