@charset "utf-8";
html{
}
body{
    background: #f5f8fa;
}
/* header */
header{
    background:#186AC9;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    line-height: 80px;
}

#head {
    display: flex;
    padding: 0 25px;
    align-items: center;
    height: inherit;
    justify-content: space-between;
}

.atlas-logo {
    height: 35px;
}

.header-username {
    color: #FFF;
    margin-right: 15px;
    font-size: 20px;
}
#header-item {
    display: flex;
    align-items: center;
}

.post-container {

}

a {
    text-decoration: none;
}


/* header-menu */
    .header-btn {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        margin-right: 15px;
    }

    .header-btn span {
        position: absolute;
        display: block;
        background: #fff;
        height: 10%;
        width: 50%;
        transition: all 0.5s;

    }
        /* .header-btn span:nth-child(1) */
    .header-btn1 {
        transform: rotate(-65deg) translateX(-6px);
        top: 30%;
    }

    .header-btn2 {
        transform: rotate(65deg) translateX(6px);
        top: 30%;
    }

    .header-btn3 {
        transform: rotate(65deg) translateX(-6px);
        top: 50%;
    }

    .header-btn4 {
        transform: rotate(-65deg) translateX(6px);
        top: 50%;
    }

    #header-item img {
        height: 40px;
    }

    ul {
        display: block;
        transform: translateY(-100px);
        transition: all 0.5s;
    }


/* //header-menu */

/* 共通 */

.border{
    width: 100%;
    border: 3px solid #E0E0E0;
    margin: 20px 0;
}
.underLine {
    border: solid 1px #E0E0E0;
}

a {
    text-decoration: none;
}
.btn-primary a {
    color: #fff;
}

.container {
    width: 100%;
}

.top  {
    border-bottom: 10px solid #E0E0E0;
    display: flex;
}

/* main content */


#row{
    display: flex;
    flex-flow: row wrap;
    padding-top: 80px;
}
#container{
    width: 79%;
}
#side-bar{
    width: 21%;
    border-left: 1px solid #727272;
}

#confirm {
    padding: 15px 18px 20px 18px;
    font-size: 15px;
}

.side-follow {
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

.side-follow p {
    margin-right: 10px;
}

.side-button {
    display: block;
}

.side_button a{
    width: 140px;
    display: block;
    margin: 0 0 0 auto;
    font-size: 15px;
    padding: 6px 0;
    border-radius: 6px;
}

.side-link-btn {
    margin-left: 100px;
}

.side-border {
    width: 100%;
    border-bottom: 1px solid #727272;
}


.side_search_button a{
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-top: 20px;
    font-size: 15px;
    padding: 6px 0;
    border-radius: 6px;
    width: 150px;
}



.menu {
    font-size: 23px;
    text-align: center;
    padding: 0;
    right: 0;
    z-index: 99;
    transform: translateY(-300px);
    position: fixed;
    background: #f5f8fa;
    width: 21%;
}

  .active {
      transform: translateY(0);
      transition: all 0.5s;
  }

.menu li {
border: 1px solid #00297e;

}


.menu li a{
    color: #848484;
    display: block;
    padding: 25px 0;
}

.menu li a:hover {
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    background: #00297e;
    width: 100%;
}

/* //main content */





.send_button {
    font-size: 25px;
}

.send_button i {
    margin-top: 20px;
}

.form_top {
    padding: 20px 40px 0 40px;
}

.form_top input {
    background: #f5f8fa;
    border: none;
    padding: 20px 30px 70px 30px;
    box-shadow: none;
}



/*////////////////////// top ///////////////////////*/
.post_items {
    transform: none;
    padding: 0;
}

.post_item {
    display: flex;
    border-bottom: 1px solid #000;
    padding: 10px 10px 10px 100px;
}

.post_icon img{
    width: 50px;
}

.post_content {
    width: 100%;
    padding-left: 15px;
}

.post_head {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.post_buttons {
    display: flex;
    justify-content: end;
}

.update_button {
    margin-right: 10px;
    font-size: 20px;
}

.delete_button {
    font-size: 20px;
}

/* モーダル */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/*////////////////////// top ///////////////////////*/


/*////////////////// search///////////////////// */
.search_top {
    padding: 30px 50px;
    align-items: center;
}

.search_form  {
    width: 350px;
    padding: 10px 15px;
    margin-right: 50px;
    box-shadow: none;
    border: solid 1px #727272;
    background: #fff;
    border-radius: 3px;
    font-size: 20px;
}

.search_button {
    background: #186AC9;
    color: #fff;
    border: none;
    font-size: 30px;
    border-radius: 3px;
    padding: 2px 10px;
}

.keyword {
    font-size: 20px;
    margin-left: 90px;
}

.search_list
 {

 }

 .search_user {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    align-items: center;
 }

 .search_user_left
 {
    display: flex;
    align-items: center;

 }

 .search_user_left img {
    width: 50px;
 }

 .search_user_name
 {
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
 }

 .search_user_right {

 }

  .unfollow_button {

  }

  .unfollow_button a {
      border-radius: 6px;
  }

 .follow_button {

 }

 .follow_button a {
    border-radius: 6px;
    color: #fff;
 }

/*////////////////// search///////////////////// */


 /*//////////// followList//////////// */

 .follow_top {
    padding: 20px 60px;
 }
 .follow_top p{
    font-size: 30px;
    width: 20%;
 }

 .follow_list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
 }


  .follow_list a{
    margin-left: 10px;
    width: calc(8%);
  }

   .follow_list a img{
width: 100%;
   }


   /*////////// profile ////////////*/

.profile {
    text-align: center;
}

.profile_content {
    display: flex;
    font-size: 22px;
    justify-content: center;
    margin: 50px 0 30px 0;
}

.profile_icon {
    margin-right: 50px;
}

.profile_icon img{

}

.profile_forms {

}

.profile_form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.profile_form p{

}

.profile form [type="text"] {
    box-shadow: none;
    border: solid 1px #727272;
    background-color: #efefef;
    padding: 4px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    width: 60%;
}

.profile form [type="password"] {
    box-shadow: none;
    border: solid 1px #727272;
    background-color: #efefef;
    padding: 4px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    width: 60%;
}

.profile_button {
    box-shadow: none;
    border: none;
    font-size: 18px;
    width: 160px;
    height: 40px;
    border-radius: 6px;
}



/*//////////////// user_profile/////////////// */

.user_profile {
    font-weight: bold;
    padding: 20px 20px 20px 100px;
}

.icon img{
    width: 50px;
}

.text {
    padding-left: 15px;
}

.name {
    display: flex;
    padding-bottom: 20px;
}

.name p {
    padding-right: 80px;
}

.bio {
    display: flex;
}

.bio p {
    padding-right: 80px;
}
